@model GoRegister.ApplicationCore.Domain.ProjectThemes.Models.ProjectThemeModel


@{
    Layout = "~/Views/Shared/"  + Model.LayoutName + ".cshtml";
}

<h1>Theme Preview - @Model.Name</h1>
<h1 title="h1">Heading - h1</h1>
<p title="p">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar ullamcorper neque, eget interdum 
    lectus vulputate ut. Integer interdum, lorem bibendum mattis laoreet, purus nunc elementum tortor, sed 
    vestibulum nibh nisi nec felis. Phasellus felis velit, consequat quis aliquet accumsan, gravida a dolor. 
    Aliquam erat volutpat. Duis tincidunt tempor nisl ac placerat. Proin ac metus at tortor consectetur scelerisque. 
    Maecenas facilisis bibendum facilisis. Curabitur congue ipsum risus, ac imperdiet elit dignissim non. Donec efficitur
    aliquam purus. Duis vitae pharetra turpis, sit amet commodo arcu. Maecenas vitae imperdiet augue. In eu ullamcorper 
    leo, id volutpat elit. Sed rutrum euismod ipsum sed mollis. Curabitur accumsan faucibus faucibus. Vestibulum quis 
    ligula semper velit fermentum tincidunt.
</p>
<h2 title="h2">Sub heading</h2>
<p title="p">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar ullamcorper neque, eget interdum
    lectus vulputate ut. Integer interdum, lorem bibendum mattis laoreet, purus nunc elementum tortor, sed
    vestibulum nibh nisi nec felis. Phasellus felis velit, consequat quis aliquet accumsan, gravida a dolor.
    Aliquam erat volutpat. Duis tincidunt tempor nisl ac placerat. Proin ac metus at tortor consectetur scelerisque.
    Maecenas facilisis bibendum facilisis. Curabitur congue ipsum risus, ac imperdiet elit dignissim non. Donec efficitur
    aliquam purus. Duis vitae pharetra turpis, sit amet commodo arcu. Maecenas vitae imperdiet augue. In eu ullamcorper
    leo, id volutpat elit. Sed rutrum euismod ipsum sed mollis. Curabitur accumsan faucibus faucibus. Vestibulum quis
    ligula semper velit fermentum tincidunt.
</p>
<a class="registration-button" href="#" title=".registration-button"> Register Now</a>
<table>
    <tr>
        <th>
            Heading 1
        </th>
        <th>
            Heading 2
        </th>
    </tr>
    <tr>
        <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar ullamcorper neque, eget interdum
            lectus vulputate ut.
        </td>
        <td>
            Curabitur accumsan faucibus faucibus. Vestibulum quis igula semper velit fermentum tincidunt.
        </td>
    </tr>
    <tr>
        <td>
            Curabitur accumsan faucibus faucibus. Vestibulum quis
            ligula semper velit fermentum tincidunt.
        </td>
        <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar ullamcorper neque, eget interdum
            lectus vulputate ut.
        </td>
    </tr>
    <tr>
        <td>
            Curabitur accumsan faucibus faucibus. Vestibulum quis ligula semper velit fermentum tincidunt.
        </td>
        <td>
            Integer pulvinar ullamcorper neque, eget interdum lectus vulputate ut.
        </td>
    </tr>
</table>
<h2 title="h2">Sub heading</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar ullamcorper neque, <a class="email-link" title="email-link" href="mailto:#">GoRegister@banks-sadler.com</a>
</p>
