@model GoRegister.ApplicationCore.Domain.Registration.Models.RegistrationTypeModel

@{
    ViewData["Title"] = "Create new registration type";
}
<div id="page-config" data-page="regtype-create"></div>

<h1>Create new registration type</h1>
<hr />
<div class="row">
    <div class="col-md-5">
        <form-proj asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <h3 class="border-bottom pt-4">Registration Path</h3>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <label><input name="RegPath" value="existing" type="radio" class="form-check-input" checked />Use existing</label>
                </div>
                <div class="form-check form-check-inline">
                    <label><input name="RegPath" value="new" type="radio" class="form-check-input" />Create new</label>
                </div>
                <div id="reg-path-existing">
                    <select asp-for="RegistrationPathId" asp-items="Model.RegistrationPaths" class="form-control">
                        <option value="0">-- Select Registration Path --</option>
                    </select>
                </div>
                <div class="d-none" id="reg-path-new">
                    <input asp-for="RegistrationPathId" type="hidden" value="0" class="form-control" />
                    <input class="form-control" id="new-reg-path-name" readonly />

                </div>
            </div>
            <div class="form-group">
                <partial name="_CreateAndBackToListButtonsPartial" />
            </div>
        </form-proj>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
