@page
@model SetupConfirmationModel
@{
    ViewData["Title"] = "Setup confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your account has been setup. Please <a asp-page="./Login">click here to log in</a>.
</p>
