@*MRF Changes
    Created Date : 22nd September 2022
    Created By : Mandar.Khade@amexgbt.com
    Team member : Harish.Rame@amexgbt.com
    JIRA Ticket No : GoRegister/GOR-221    *@

@model GoRegister.ApplicationCore.Domain.Projects.Models.Response

@{
    ViewData["Title"] = "Index1";
}

<div id="page-config" data-page="requests-index1"></div>

@*Code created by Mandar Khade on 13th September 2022 for MRF changes*@
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h2>MRF Requests </h2>
        </div>

        <table class="table table-bordered" id="datatable">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Uuid</th>
                    <th>Date Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AllClientsMRF)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uuid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Projects" asp-area="admin" asp-route-clientIdMRF="@item.Id">Create</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>



