@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GoRegister</title>
</head>
<body style="background-color: #036ecf;
        color: white;
        text-align: center;
        font-family: Arial;
">
    <h1 style="">GoRegister</h1>
    <p>No website found</p>
</body>
</html>