<div id="spa-app"
     data-base-project-url="@Url.ProjectAction("Index", "Home", new { })"
     data-base-url="@Url.ProjectAction("App", "Home", new { path="" })"
     data-base-api-url="@Url.ProjectAction("Index", "Home", new {  })"></div>