<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>Client</th>
                <th>Country</th>
                <th>Requested Date</th>
                <th>Status</th>
                <th>Report Type</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Client</th>
                <th>Country</th>
                <th>Requested Date</th>
                <th>Status</th>
                <th>Report Type</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>