@model GoRegister.ApplicationCore.Domain.AdminUsers.AdminUserPasswordModel

<form asp-area="Admin" asp-action="ChangePassword" asp-controller="Users">

    <div asp-validation-summary="All" class="text-danger"></div>

    @Html.HiddenFor(e => e.Id)

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" readonly="true" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" readonly="true" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" readonly="true" />
    </div>

    <div class="form-group">
        <div class="alert alert-info" role="alert">
            Password must be at least 8 characters, with 1 lowercase, 1 uppercase, 1 digit and 1 special character.
        </div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>