 @*MRF Changes : Remove registration status column
    Modified Date : 30th September 2022
    Modified By : Mandar.Khade @amexgbt.com
    Team member : Harish.Rane @amexgbt.com
    JIRA Ticket No : GoRegister/GOR-236*@   

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable">
            <thead>
                <tr>
                    <th><span style="margin-left: 25px">&nbsp;&nbsp;Name</span></th>
                    <th>Email</th>
                    @*<th>Registration Type</th>*@
                    @*<th>Status</th>*@
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><span style="margin-left: 25px">&nbsp;&nbsp;Name</span></th>
                    <th>Email</th>
                    @*<th>Registration Type</th>*@
                    @*<th>Status</th>*@
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

