@model int

<div id="modal-container" class="modal fade email-audit-notifications-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Activity feed @Model</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date time</th>
                            <th scope="col">Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Today</td>
                            <td>Processed</td>
                        </tr>
                        <tr>
                            <td>Today</td>
                            <td>Delivered</td>
                        </tr>
                        <tr>
                            <td>Today</td>
                            <td>Clicked</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>