@{
    ViewBag.Title = "Not Found";
}

<div class="row">
    <span class="label label-warning">@ViewBag.OriginalPath</span>
</div>

<div class="row">
    <span class="label label-warning">@ViewBag.OriginalPathBase</span>
</div>

<div class="row">
    <span class="label label-warning">@ViewBag.OriginalQueryString</span>
</div>

<div class="row">

    <div class="col-md-12">
        <img src="/assets/images/SomeThingWentWrong.jpg" class="img-responsive rounded mx-auto d-block" />
    </div>
</div>