<div class="container">
    <h2>Headings</h2>
    <div class="card">
        <div class="card-body">
            @for (int i = 1; i < 7; i++)
            {
                var tag = "h" + i;
                <@tag>Heading @i</@tag>
            }
        </div>
    </div>

    <h2 class="mt-2">Paragraph</h2>
    <div class="card">
        <div class="card-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor odio eu dui pretium, in vehicula tortor scelerisque. Nam vestibulum fringilla justo, vitae accumsan neque lobortis a. Vestibulum mauris magna, congue non malesuada eu, gravida sit amet urna. Integer eleifend elit nec ex placerat, nec lobortis ligula euismod. Donec quam ex, pretium vel odio a, pulvinar blandit lorem. Cras faucibus augue et turpis tristique condimentum. Integer aliquam metus id nisl feugiat maximus. Pellentesque ultricies elit sit amet lacus luctus fringilla. Morbi in luctus tortor. Fusce consectetur orci vel risus commodo luctus. Vestibulum pretium, justo sed tempus convallis, augue dui sagittis felis, sed laoreet nibh justo quis enim. Mauris eu leo vel enim facilisis dictum. Integer vitae orci sed felis porttitor pulvinar in id enim. Morbi tincidunt risus et elit mollis, at ultrices odio varius.
            </p>
            <p>
                Aenean pretium imperdiet felis, in vestibulum sapien. Aenean id feugiat purus. Nunc eget facilisis dui. Morbi nec suscipit diam, in ultricies sapien. Nunc rutrum est nunc, ut dignissim sem interdum ut. Cras aliquam, ligula a varius aliquam, odio neque sagittis justo, id facilisis lorem ligula sed nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur varius at dui eget dignissim. Suspendisse vehicula finibus lacus vel aliquet. Fusce maximus ipsum tempus congue faucibus. Duis consectetur odio lectus, eu luctus purus finibus id. Nullam lobortis blandit risus, id molestie leo iaculis a. Maecenas ut sapien eget neque condimentum maximus. Aliquam elementum sapien mauris.
            </p>
        </div>
    </div>

    <h2 class="mt-2">Links</h2>
    <div class="card">
        <div class="card-body">
            <a href="#">This is a link</a>
        </div>
    </div>

</div>

<script type="text/javascript">
</script>