<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data/logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
 
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="${baseDir}/App_Data/logs/log-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="ownFile-emails" fileName="${baseDir}/App_Data/logs/log-email-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="ownFile-emails" />
  </rules>
</nlog>