@model GoRegister.ApplicationCore.Domain.Settings.Models.ShareUserSettingsViewModel

    <div id="divShareUser">
        @if (Model.MappedUsers.Count != 0)
        {
            <div id="test">
                <table class="table table-hover table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <td>Name</td>
                            <td>Email</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.MappedUsers)
                        {
                        <tr>                          
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>                            
                            <td><a-proj asp-action="DeleteMapping" asp-controller="Settings" asp-route-userId="@user.UserId" class="btn btn-primary btn-sm">Remove</a-proj></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                There are no Users mapped to this Project. Please select from the above available list.
            </div>
        }
    </div>