@model GoRegister.ApplicationCore.Domain.Settings.Models.PasswordSettingsModel

@using GoRegister.ApplicationCore.Framework
@inject ProjectTenant project

    <div id="page-config" data-page="settings-password"></div>


    <partial name="_SettingsTabs" model='"Password"' />
    <h1>Passwords</h1>
    <form-proj method="post" autocomplete="off">

        <div class="row">
            <div class="col">
                <input asp-for="@Model.AllowAnonymousAccess" type="checkbox" />
                <label asp-for="@Model.AllowAnonymousAccess" class="control-label"></label>
            </div>
        </div>

        <div class="form-group d-none" id="section-password">
            <label asp-for="SitewidePasswordPlainText" class="control-label"></label>
            <input asp-for="SitewidePasswordPlainText" class="form-control" />
            @*<span asp-validation-for="SitewidePasswordPlainText" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form-proj>
