@model GoRegister.ApplicationCore.Domain.AdminUsers.AccountSettingsModel

<h1>Account Settings</h1>
<hr />

@if (ViewBag.SuccessMessage != null)
{
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success">
                @ViewBag.SuccessMessage
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Settings">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TimeZone" class="control-label"></label>
                <select asp-for="TimeZone" asp-items="Model.TimeZones" class="form-control"></select>
                <span asp-validation-for="TimeZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFormat" class="control-label"></label>
                <select asp-for="DateFormat" asp-items="Model.DateFormats" class="form-control"></select>
                <span asp-validation-for="DateFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>

